body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
}

label {
  font-size: 16px;
  font-weight: 500;
  min-width: 100px;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15vh;
}

.submit {
  margin-top: 20px;
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid royalblue;
}

.submit, .reset, .refresh {
  transition: opacity 0.3s;
  opacity: 1;
  outline: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.submit:hover, .reset:hover, .refresh:hover {
  opacity: 0.7;
}

.submit:active, .reset:active, .refresh:active {
  opacity: 0.5;
}

.location-input {
  border: 1px solid rgba(0,0,0,0.5);
  padding: 5px 10px;
  border-radius: 10px;
}

.label-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 0px;
}

.reset {
  color: royalblue;
  margin-top: 10px;
  text-align: center;
}

.error {
  font-size: 14px;
  color: red;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.refresh {
  color: rgba(0,0,0,0.6);
  margin-top: 10px;
}

h4 {
  margin: 0;
}

.device {
  margin: 10px 0;
}

.loading-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading {
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,0.7);
}

.loading-intro {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(3, 23, 114, 0.7);
}

.loading-subtitle {
  margin: 0;
  margin-top: 40px;
  color: rgba(0,0,0,0.6);
  width: 50%;
  text-align: center;
  line-height: 1.4rem;
  font-weight: 300;
}